{{define "dashboard"}}
{{template "layout" .}}

{{define "title"}}Dashboard{{end}}

{{define "content"}}
<h2>Your Files</h2>

<div class="grid">
    {{range .Files}}
        {{template "file_card" .}}
    {{else}}
        <p>No files yet</p>
    {{end}}
</div>

{{template "modal_file_info" .}}
{{template "modal_share" .}}

{{end}}
{{end}}
